body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .hllo{
  text-decoration: none;
  border:solid black 3px;
 background-color:black;
 color:wheat;
}
.cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* //navbar area */

/* .list{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: wheat;
  align-items: center;
}
.list li{
  list-style: none;
}
.midcont,.logos{
  display: flex;
  gap:2vw;
}
.logos{
  margin-right: 2vw;;
}
.cancel{
  display: none;  
  }
  

@media  screen and (max-width:1000px){

  .cancel{
    display: block;
  position: fixed;
  top:1vh;
  right:2vw;
  }
 .list{
  display: grid;
height: 5vh;
overflow: hidden;
 }
} */ 